<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>Update Department</title></head>
<body>
<h1>Update Department</h1>
<form th:action="@{/department/update/{id}(id=${department.idld})}" th:object="${department}" method="post">

  <label>Specialization:</label><br/>
  <input type="text" th:field="*{specialization}"/>
  <br/><br/>

  <label>Employees:</label><br/>
  <input type="text" th:field="*{employees}"/>
  <br/><br/>

  <label>Working Times:</label><br/>
  <input type="text" th:field="*{workingTimes}"/>
  <br/><br/>

  <button type="submit">Update</button>
  <a href="/department/all">Cancel</a>
</form>
</body>
</html>